

.slick-slide {
  border: 1px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.slick-slide img {
 
  box-sizing: border-box;
  border: 0px;
}


.slick-prev:before,
.slick-next:before {
   top:-100px;
}

